/*Break point*/
/*pc*/
@media (min-width: 1024px) {
  .pc {
    display: block;
  }
}
/*tablet*/
@media (min-width: 741px) and (max-width: 1023px) {
  #content .content-section {
  }
}

/*mobile*/
@media (max-width: 740px) {
  .s-full-width,
  .s-col-full {
    width: 100% !important;
  }

  .s-mt-8 {
    margin-top: 8px !important;
  }
  #nav {
    display: block;
  }

  #nav li {
    display: block;
  }

  #nav li:first-child {
    display: inline-block; /*chỉ đặt thẻ li đầu tiên là inline-block*/
  }

  #nav .subnav {
    /*trên màn hình mobile k cần đặt position: absolute*/
    position: initial; /*giá trị mặc đinh của position*/
    background: #333;
  }

  #nav .subnav a {
    color: #fff;
    padding: 5px 36px;
  }

  #header {
    overflow: hidden;
  }

  #header .search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #content .member-img {
    width: 60%;
  }

  .contact-form {
    margin-top: 16px;
  }

  /* .btn{
    width: 100%;
    text-align: center;
  } */
}
