/* reset css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
/* Nguyên tắc:
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan -> chi tiết
*/

/*
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình dạng ...)
*/
#main {
}

#header {
  height: 46px;
  background-color: black;
}

#nav {
}

#nav li {
  display: inline-block; /* hiển thị nằm ngang thẻ li*/
}

#nav li a {
  color: #fff;
  text-decoration: none; /* bỏ gạch chân thẻ a*/
  padding: 0 24px;
  line-height: 46px;
  display: inline-block; /* tăng chiều cao thẻ a*/
}

/* nếu hover vào thẻ a -> gặp lỗi khi hover vào các thẻ a con sẽ bị mất active ở thẻ đc chọn*/
#nav li:hover a {
  color: black;
  background-color: #ccc;
}

#nav .subnav{
    display: none;
}

#slider {
}

#content {
}

#footer {
}
