/* reset css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
/* Nguyên tắc:
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan -> chi tiết
*/

/*
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình dạng ...)
*/
#main {
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: black;
  z-index: 1; /*tăng độ nổi cho #header*/
}
/* common */
.clear {
  clear: both;
}

.text-white {
  color: #ccc;
}

.text-center {
  text-align: center !important;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-full {
  width: 100%;
}

.col-half {
  width: 50%;
}

.col-third {
  width: 33.333333%;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

/*sử dụng thay cho class clear*/
.row::after {
  content: "";
  display: block;
  clear: both;
}

.btn {
  color: #fff;
  background: #000;
  text-align: center;
  display: inline-block; /*do tính chất thẻ <a> là inline -> chuyển qua block*/
  width: 108px;
  height: 38px;
  margin-top: 15px;
  margin-bottom: 16px;
  text-decoration: none;
  line-height: 38px;
  border: none;
  width: 100%;
    text-align: center;
}

.btn:hover {
  cursor: pointer;
  background: #ccc;
  color: #000;
}

.pull-right {
  float: right !important;
}
/*main*/
#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block; /* hiển thị nằm ngang thẻ li*/
}

#nav li {
  position: relative;
}

#nav li:hover .subnav {
  display: block;
}

/* lấy tất cả thẻ a là con trực tiếp của thẻ li là con trực tiếp của #nav */
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none; /* bỏ gạch chân thẻ a*/
  padding: 0 24px;
  line-height: 46px;
  display: block; /* tự động kế thừa chiều rộng + ngang của thẻ chứa nó */
}

/* nếu hover vào thẻ a -> gặp lỗi khi hover vào các thẻ a con sẽ bị mất active ở thẻ đc chọn*/
#nav > li:hover > a, /*hover cho các thẻ li cha*/
#nav .subnav li:hover {
  /*hover cho các thẻ li của thẻ subnav (con của nav)*/
  color: black;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}

#header .search-btn {
  float: right;
  padding: 0 24px;
}

#header .search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

#header .mobile-menu-btn {
  display: none;
  float: right;
  color: #000;
  padding: 0 24px;
  position: absolute;
  top: 0;
  right: 0;
}

#header .mobile-menu-btn:hover {
  background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
  color: #000;
}
#header .menu-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

#slider {
  position: relative;
  margin-top: 46px; /* do header dùng position:fixed -> tăng margin bằng với chiều cào của header*/
  padding-top: 50%; /*nếu thêm giá trị % vào padding-top -> gtri % sẽ là % chiều ngang của chính nó */
  /* background-image: url('/assets/img/slider/slider1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top; */
  /*shorthand -> background-image; top, center:position; cover:background-size; background-no-repeat */
  background: url("/assets/img/slider/slider1.jpg") top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 0;
  padding-bottom: 48px;
  color: #fff;
  text-align: center;
  left: 50%;
  transform: translateX(-50%); /*Xem lại bài tips căn giữa*/
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}

#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
}

#content {
}

#content .content-section {
  width: 800px; /**/
  max-width: 100%;
  padding: 64px 16px;
  margin-left: auto;
  margin-right: auto;
}

#content .section-heading {
  margin: 10px 0;
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  letter-spacing: 4px;
}

#content .section-sub-heading {
  font-size: 15px;
  text-align: center;
  font-style: italic;
  margin: 15px 0;
  opacity: 0.6;
}

#content .about-text {
  font-size: 15px;
  text-align: justify;
  margin: 15px 0;
  line-height: 1.4; /*khoảng cách giữa các dòng*/
}

#content .member-list {
  padding: 32px 0;
}

#content .member-name {
  margin: 15px 0;
}
#content .member-img {
  margin-bottom: 16px;
  border-radius: 4px;
  width: 154px;
}

.tour-section {
  background: #000;
}

.tickets-list {
  background: #fff;
  margin-top: 40px;
}

.tickets-list li {
  padding: 10px 16px;
  border-bottom: 1px solid #ddd;
}

.tickets-list li a {
  text-decoration: none;
  color: #757575;
  font-size: 15px;
}

.tour-section .sold-out {
  background: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}

.tour-section .quantity {
  float: right;
  background: #000;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%; /* tạo hình tròn*/
  text-align: center; /* căn giữa từ trái -> phải*/
  line-height: 24px; /* căn giữa từ trên -> dưới, gtri bằng chiều cao của element*/
  margin: -3px;
}

/*Place*/
.places-list {
  margin-top: 16px;
  margin-bottom: 48px;
}

.place-item {
  width: calc(100% / 3);
}

.place-img {
  width: 100%; /*do tính chất của thẻ img nên các ảnh bị đè lên nhau -> set lại width = 100%*/
  display: block; /*do thẻ img có tính chất inline nên tạo ra 1 khoảng cách -> dùng display:block */
}

.place-img:hover {
  opacity: 0.6;
}

.place-body {
  background: #fff;
  font-size: 15px;
  padding: 0 16px;
}

.place-heading {
  padding-top: 15px;
}

.place-time {
  padding-top: 15px;
  color: #757575;
}

.place-desc {
  padding-top: 15px;
}

.contact-content {
  padding-top: 33px;
}

.contact-info {
  font-size: 18px;
  line-height: 1.5;
}

.contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none; /*bỏ đường viên khi click vào input trên trình duyệt*/
}

#contact .btn-form-control {
  width: 72px;
}

.map-section img {
  width: 100%;
}

#footer {
  padding: 64px 0;
  text-align: center;
}

#footer .socials-list {
  font-size: 24px;
}

#footer .socials-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

#footer .coppyright a:hover,
#footer .socials-list a:hover {
  color: rgba(0, 0, 0, 0.3);
}

#footer .coppyright {
  margin-top: 15px;
}

#footer .coppyright a {
  color: rgba(0, 0, 0, 0.6);
}

.pc,
.tablet,
.mobile {
  font-size: 68px;
  display: none;
}
